.root {
    position: relative;
    .navbar {
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding: 20px 15%;
        position: sticky;
        width: 100%;

        @media screen and (max-width: 800px) {
            padding: 20px
        }

        .logo {
            font-weight: 700;
            font-size: 24px;
        }

        .nav {
            display: flex;
            align-items: center;
            justify-content: space-between;
            width: 40%;

            @media screen and (max-width: 800px) {
                width: 60%;
            }

            span {
                font-weight: 700;
                padding: 10px 0;
                cursor: pointer;
                &:hover {
                    border-bottom: 3px solid orange;
                }
            }
        }
    }
}