.root {
  padding: 100px 15%;
  @media (max-width: 800px) {
    padding: 100px 20px;
  }

  .top {
    text-align: left;

    h2 {
      font-size: 48px;
    }

    div {
      text-align: left;
      width: 100px;
      height: 3px;
      border: 1px solid red;
      background-color: red;
    }

    p {
      font-size: 21px;
      opacity: 0.5;
    }
  }

  .projects {
    margin-top: 80px;
    position: relative;
    display: grid;
    grid-template-columns: 1fr;
    gap: 10px;

    .topP {
      display: grid;
      grid-template-columns: 2fr 1fr;
      gap: 10px;

      @media (max-width: 800px) {
        grid-template-columns: 1fr;
      }

      div {
        &:hover {
          scale: 1.05;
        }
      }
    }

    .center {
      display: grid;
      grid-template-columns: 1fr 1fr 1fr;
      gap: 10px;

      @media (max-width: 800px) {
        grid-template-columns: 1fr;
      }

      div {
        &:hover {
          scale: 1.05;
        }
      }
    }

    .bottom {
      display: grid;
      grid-template-columns: 1fr 2fr;
      gap: 10px;

      @media (max-width: 800px) {
        grid-template-columns: 1fr;
      }

      div {
        &:hover {
          scale: 1.05;
        }
      }
    }

    img {
      width: 100%;
      height: 400px;
    }
  }
}
