@import '../../styles/variables.module.scss';
.root {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px 15%;
    background-color: $dark-grey;
    color: $light-grey;

    .center {
        display: flex;
        align-items: center;
        justify-content: space-between;
        gap: 20px;
    }

    .right {
        display: flex;
        align-items: center;
        justify-content: space-between;
        gap: 10px;
    }
}