.main {
    background: white;

    .body {
        display: flex;
        flex-direction: column;
    }

    .core {
        display: flex;
        height: 400px;
        color: white;
        @media screen and (max-width: 800px) {
            flex-direction: column;
            height: auto;
        }

        .left {
            background-image: url('../public/assets/2-2.jpg');
            background-size: cover;
            background-repeat: no-repeat;
            padding: 50px;
            display: flex;
            flex-direction: column;
            justify-content: flex-end;

            span {
                width: 100px;
                height: 3px;
                border: 1px solid orange;
                background-color: orange;

            }
        }

        .center {
            background-image: url('../public/assets/3-2.jpg');
            background-size: cover;
            background-repeat: no-repeat;
            padding: 50px;
            display: flex;
            flex-direction: column;
            justify-content: flex-end;

            span {
                width: 100px;
                height: 3px;
                border: 1px solid orange;
                background-color: orange;
            }
        }

        .right {
            background-image: url('../public/assets/4-1.jpg');
            background-size: cover;
            background-repeat: no-repeat;
            padding: 50px;
            display: flex;
            flex-direction: column;
            justify-content: flex-end;

            span {
                width: 100px;
                height: 3px;
                border: 1px solid orange;
                background-color: orange;
            }
        }

    }

}